#include <windows.h>
#include "Resource.h"
#include "coordonnees.h"

1 VERSIONINFO
FILEVERSION 1,0,2
PRODUCTVERSION 1,0,2
FILEOS 0x40004
FILETYPE 0x1
{
    BLOCK "StringFileInfo"
    {
        BLOCK "040C04E4"
        {
            VALUE "CompanyName","My_Script"
            VALUE "FileDescription","Text Editor"
            VALUE "FileVersion","1.0.2"
            VALUE "InternalName","TextEditor"
            VALUE "LegalCopyright","My_Script@COPYRIGHT2020"
            VALUE "Programming Language used","C(Api win32)"
            VALUE "Appearance Date","29/03/2019"
            VALUE "Author","My_Script"
            VALUE "Publisher","My_Script"
            VALUE "OriginalFilename","TextEditor"
            VALUE "ProductName","Text Editor"
            VALUE "ProductVersion","1.0.2"
        }
    }
    BLOCK "VarFileInfo"
    {
        VALUE "Translation",0x040C,1252
    }
}

SCP_ICON ICON "icons\\icon.ico"
SCP_CUR CURSOR "cursors\\cursor1.cur"
SCP_LOGO BITMAP "img\\logo5.bmp"

//Menu of tray icon
IDR_MENU MENU
BEGIN
    POPUP "&Options"
        BEGIN
            MENUITEM "Restorer", IDM_RESTORE
            MENUITEM "Quitter", IDM_QUIT
            MENUITEM SEPARATOR
            MENUITEM "About", IDM_ABOUT
            MENUITEM "My_Script", IDM_LABEL, GRAYED
        END
END

IDD_ABOUT DIALOG DISCARDABLE 0,0,239,66
STYLE DS_MODALFRAME|WS_POPUP|WS_CAPTION|WS_SYSMENU
CAPTION "About"
FONT 8, "Lucida Calligraphy"
{
    DEFPUSHBUTTON "&Ok",IDOK,174,18,50,14
    GROUPBOX "About this program ...",IDC_STATIC,7,7,225,52
    CTEXT "******************In Building************\r\n\r\nby My_Script",IDC_STATIC,16,18,144,33
}

IDD_GO_TO DIALOG DISCARDABLE 60,80,90,38
STYLE DS_MODALFRAME|WS_POPUP|WS_CAPTION|WS_SYSMENU
CAPTION "Go To Line"
FONT 10, "Lucida Calligraphy"
{
    CTEXT "Line number:",IDC_STATIC,0,0,100,10
    CONTROL "",GO_TO_EDIT,"EDIT",WS_CHILD|WS_VISIBLE|WS_BORDER|ES_NUMBER|WS_TABSTOP|BS_DEFPUSHBUTTON,
    X_GO_TO_EDIT,Y_GO_TO_EDIT,WIDTH_GO_TO_EDIT,HEIGHT_GO_TO_EDIT
    CONTROL "GoTo",IDOK,"BUTTON",WS_CHILD|WS_VISIBLE,
    X_GO_TO,Y_GO_TO,WIDTH_GO_TO,HEIGHT_GO_TO
    CONTROL "Cancel",IDCANCEL,"BUTTON",WS_CHILD|WS_VISIBLE,
    X_GO_TO_CANCEL,Y_GO_TO_CANCEL,WIDTH_GO_TO_CANCEL,HEIGHT_GO_TO_CANCEL
}

IDD_REGISTRATION DIALOG DISCARDABLE 0,0,90,66
STYLE DS_MODALFRAME|WS_POPUP|WS_CAPTION|WS_SYSMENU
CAPTION "Registration"
FONT 10, "Lucida Calligraphy"
{
    GROUPBOX "Registration ...",IDC_REG,2,2,80+3,58+3
    CTEXT "Name",IDC_STATIC,3,10,65,10
    CONTROL "Your name",NAME_REG,"EDIT",WS_CHILD|WS_VISIBLE|WS_BORDER|ES_CENTER|
    WS_TABSTOP,X_R_NAME,Y_R_NAME+10,R_NAME_WIDTH,R_NAME_HEIGHT
     CTEXT "Password",IDC_STATIC,3,Y_R_NAME+10+R_NAME_HEIGHT,65,10
    CONTROL "",PASS_REG,"EDIT",WS_CHILD|WS_VISIBLE|WS_BORDER|ES_CENTER| //ES_PASSWORD|
    WS_TABSTOP,X_R_PASS,Y_R_PASS,R_PASS_WIDTH,R_PASS_HEIGHT
    CONTROL "OK",IDOK,"BUTTON",BS_PUSHBUTTON|WS_CHILD|WS_VISIBLE|
    WS_TABSTOP,X_VALID+3,Y_VALID+3,VALID_WIDTH,VALID_HEIGHT
    CONTROL "Get registration's keys",LINK_REG,"STATIC",WS_CHILD|WS_VISIBLE|WS_BORDER|ES_CENTER|
    WS_TABSTOP|SS_NOTIFY,3,Y_VALID+3+VALID_HEIGHT+16,80,10
}

IDD_RENAME_DIALOG DIALOG DISCARDABLE  X_REM_DIALOG, Y_REM_DIALOG , WIDTH_REM_DIALOG , HEIGHT_REM_DIALOG
STYLE DS_MODALFRAME|WS_POPUP|WS_SYSMENU
CAPTION "Rename"
FONT 10, "Lucida Calligraphy"
{
    CTEXT "Old Name", IDC_OLD_NAME_LABEL, X_OLD_NAME_LABEL, Y_OLD_NAME_LABEL, WIDTH_OLD_NAME_LABEL, HEIGHT_OLD_NAME_LABEL
    CONTROL "", IDC_OLD_NAME_TEXT, "EDIT", WS_CHILD|WS_VISIBLE|WS_DISABLED,
    X_OLD_NAME_TEXT, Y_OLD_NAME_TEXT, WIDTH_OLD_NAME_TEXT, HEIGHT_OLD_NAME_TEXT
    CTEXT "New Name", IDC_NEW_NAME_LABEL, X_NEW_NAME_LABEL, Y_NEW_NAME_LABEL, WIDTH_NEW_NAME_LABEL, HEIGHT_NEW_NAME_LABEL
    CONTROL "" , IDC_NEW_NAME_TEXT, "EDIT", WS_CHILD|WS_VISIBLE,
    X_NEW_NAME_TEXT, Y_NEW_NAME_TEXT, WIDTH_NEW_NAME_TEXT, HEIGHT_NEW_NAME_TEXT
    CONTROL "", IDC_OLD_NAME_OK, "BUTTON", BS_PUSHBUTTON|WS_CHILD|WS_VISIBLE,
    X_OLD_NAME_OK, Y_OLD_NAME_OK, WIDTH_OLD_NAME_OK, HEIGHT_OLD_NAME_OK

}

IDD_VIEW DIALOG X_TEXT2,Y_TEXT2,TEXT_WIDTH2/5,TEXT_HEIGHT
STYLE DS_MODALFRAME|WS_POPUP|WS_CAPTION|WS_SYSMENU|WS_OVERLAPPEDWINDOW
CAPTION "Test Viewer"
{

}

ID_ACCEL ACCELERATORS
BEGIN
    "C",IDM_CLOSE,CONTROL,SHIFT,VIRTKEY
    "D",IDM_COPY_LINE,CONTROL,VIRTKEY
    "E",IDM_DELETE_LINE,CONTROL,VIRTKEY
    "N",IDM_NEW_FILE,CONTROL,VIRTKEY
    "O",IDM_LIRE,CONTROL,VIRTKEY
    "R",IDM_COMP_GCC,CONTROL,SHIFT,VIRTKEY
    "S",IDM_SAVE,CONTROL,VIRTKEY
    "S",IDM_SAVE_AS,CONTROL,SHIFT,VIRTKEY
    "V",IDM_VIEW,ALT,VIRTKEY
    "T",IDM_HIDE_WINDOW,CONTROL,VIRTKEY
    "T",IDM_ONTOP,CONTROL,SHIFT,VIRTKEY

    VK_F2,IDM_ABOUT,VIRTKEY
END

LANGUAGE 0, SUBLANG_NEUTRAL
1                  RT_MANIFEST    ".\\script1.exe.manifest.xml"
